* {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: 0;
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
}

/* 980px / 16px = 61.25em */
@media(max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/* 460px / 15px = 28.75em */
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/* Base styles */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: white;
}

h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

.exitR {
      height: 3rem;
      padding: 0;
      margin: 0;
      position: relative;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
 }

/* Welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url('assets/blockhomes.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width: 28.75em) {
    .welcome-section {
        background-size: cover;
    }
}

.welc {
    background-color: rgba(102, 102, 102, 0.596);
    width: 100%;
    color: white;
    text-align: center;
}

/* About section */

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
}

.frame {
    height: 313px;
    width: 200px;
    border: 1px solid black;
    box-shadow: 10px 15px black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portrait {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.details {
    width: 80%;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Sold */

.sold-section {
    text-align: center;
    padding: 10rem 2rem;
    background-color: rgba(171, 171, 171, 0.251);;
}

.sold-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
    .sold-section {
      padding: 6rem 1rem;
    }
    
    .sold-grid {
      grid-template-columns: 1fr;
    }
}

.sold {
    background: white;
    box-shadow: 1px 1px 2px rgba(0,0,0,.5);
    border-radius: 2px;
}

.sold-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.sold-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.house-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray
}

.blockquote p {
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.otro-blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.otro-blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.otro-blockquote::after{
  content: '';
}

.otro-blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/* Contact Section */

 .contact-section {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: inherit;
     height: 40vh;
     padding: 0 2rem;
     background: black;
 }

 .banner-frame {
     width: 300px;
     height: 150px;
 }

 .contact-banner {
     width: 100%;
     height: 100%;
     object-fit: contain;
 }

 .contact-section-header > h2 {
     font-size: 6rem;
 }

 @media (max-width: 28.75em) {
     .contact-section-header > h2 {
         font-size: 4rem;
     }
 }

 .contact-section-header > p {
     font-style: italic;
 }

 .contact-links {
     display: flex;
     justify-content: center;
     width: 100%;
     max-width: 980px;
     margin-top: 4rem;
     flex-wrap: wrap;
 }

 .contact-details {
     font-size: 2.4rem;
     text-shadow: 2px 2px 1px black;
     transition: transform 0.3s ease-out;
 }

 .contact-details:hover {
     transform: translateY(8px);
 }

 /* Footer */

 footer {
     font-weight: 300;
     display: flex;
     justify-content: space-evenly;
     padding: 2rem;
     background: black;
     border-top: 4px solid blue;
 }

 footer > p {
     margin: 2rem;
 }

 footer i {
     vertical-align: middle;
 }

 @media (max-width: 28.75em) {
     footer {
         flex-direction: column;
         text-align: center;
     }
 }